translatorflow.json
[{"id":"c743e174.d50d78","type":"tab","label":"Project","disabled":false,"info":""},{"id":"c69a04cd.141bc8","type":"watson-speech-to-text","z":"c743e174.d50d78","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"tvUPOfCefkm6fQ-GkywPai4C13UWYWfFQ7bEoYIJjbE8","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/aa3f3497-6898-4bc5-9c4f-a37e652e5a01","x":520,"y":100,"wires":[["98d1c217.14a4c","17095127.754a47"]]},{"id":"98d1c217.14a4c","type":"debug","z":"c743e174.d50d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"241d3609.c856aa","type":"watson-text-to-speech","z":"c743e174.d50d78","name":"","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiV3Voice","voicehidden":"en-US_LisaV2Voice","format":"audio/wav","password":"","apikey":"gzV0mqKM0Z-TEYMf01kUkIGAewSxRM68M1RWseP8rK7n","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/f3779dc5-fc07-49fb-b7fe-2ab4ad749aa8","x":498.7142868041992,"y":314.85712814331055,"wires":[["f3c42503.9330e8","74acb342.e6b22c"]]},{"id":"f05785e6.36bbb8","type":"debug","z":"c743e174.d50d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"da37bd08.86c0a","type":"watson-translator","z":"c743e174.d50d78","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"it","password":"","apikey":"1qGg1zB5XbMg_zloTnlbun-xBHPJA1bZuUCf5ShxLNmu","custom":"b1809e78-f34b-48ed-8a8a-c31e6245565f","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/b55a78de-bbbc-4171-bd31-74505e0cc3b5","x":510,"y":220,"wires":[["f05785e6.36bbb8","241d3609.c856aa","a1a5e1bc.5c1a9"]]},{"id":"17095127.754a47","type":"change","z":"c743e174.d50d78","name":"Transcription","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[["da37bd08.86c0a"]]},{"id":"423d624c.4a05ec","type":"microphone","z":"c743e174.d50d78","name":"","x":75,"y":100,"wires":[["c69a04cd.141bc8"]],"l":false},{"id":"f3c42503.9330e8","type":"change","z":"c743e174.d50d78","name":"set speech as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["d4c7a130.bb7b18"]]},{"id":"d4c7a130.bb7b18","type":"play audio","z":"c743e174.d50d78","name":"","voice":"0","x":490,"y":440,"wires":[]},{"id":"9e4e9fe6.2f029","type":"inject","z":"c743e174.d50d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello how are you","payloadType":"str","x":118.00001525878906,"y":195,"wires":[["ceca04d.f9e5b78"]]},{"id":"c10e1f75.0a08c8","type":"ui_template","z":"c743e174.d50d78","group":"86c8ce21.06cfe","name":"","order":2,"width":0,"height":0,"format":"<style>\n    input[type=text]{\n    width:100%;\n    border:2px solid #aaa;\n    border-radius:4px;\n    margin:8px 0;\n    outline:none;\n    padding:8px;\n    box-sizing:border-box;\n    transition:.3s;\n  }\n  \n  input[type=text]:focus{\n    border-color:dodgerBlue;\n    box-shadow:0 0 8px 0 dodgerBlue;\n  }\n</style>\n\n<form>\n  Enter Text<input type=\"text\" id=\"inText\"><br>\n<br>\n   <label for=\"tlang\">Choose Target Language:</label>\n<select name=\"tlang\" id=\"tlang\">\n  <option value=\"hi\" >Hindi (No Speech Support)</option>\n  <option value=\"en\">English</option>\n  <option value=\"ar\">Arabic</option>\n  <option value=\"bn\">Bengali (No Speech Support)</option>\n  <option value=\"gu\">Gujrati (No Speech Support)</option>\n  <option value=\"ja\">Japanese</option>\n  <option value=\"de\">German</option>\n  <option value=\"fr\">French</option>\n  <option value=\"it\">Italian</option>\n  <option value=\"es\">Spanish</option>\n</select> \n<p>Note: Language translation is not supported for all the language </p>\n<br>\n<br>\n</form>\n\n<md-button ng-click=\"send({inText:action1(),tlang:action2()})\"> Translate\n</md-button>\n\n<script>\n    this.scope.action1= function()\n    {\n        var value=document.getElementById(\"inText\").value;\n        \n        return value;\n    }\n    this.scope.action2= function()\n    {\n        var value=document.getElementById(\"tlang\").value;\n        return value;\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":89.33332824707031,"y":652.3333740234375,"wires":[["3499bcac.4a830c","5f43fae6.c15d14"]]},{"id":"3499bcac.4a830c","type":"function","z":"c743e174.d50d78","name":"","func":"\n//msg.srclang='en';\n//msg.srclang= msg.lang.language;\nmsg.destlang=msg.tlang;\n\nmsg.payload=msg.inText;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":282.33331298828125,"y":646.3333740234375,"wires":[["e48dc8c7.b441e8"]]},{"id":"a1a5e1bc.5c1a9","type":"ui_text","z":"c743e174.d50d78","group":"86c8ce21.06cfe","order":3,"width":12,"height":1,"name":"","label":"Result: ","format":"{{msg.payload}}","layout":"row-left","x":760,"y":300,"wires":[]},{"id":"e48dc8c7.b441e8","type":"watson-language-translator-identify","z":"c743e174.d50d78","name":"","service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/b55a78de-bbbc-4171-bd31-74505e0cc3b5","x":194.00001525878906,"y":566.3333206176758,"wires":[["a30d97c6.08a888"]],"l":false},{"id":"f5c2cbc1.225408","type":"debug","z":"c743e174.d50d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":459.33331298828125,"y":563.3333282470703,"wires":[]},{"id":"a30d97c6.08a888","type":"function","z":"c743e174.d50d78","name":"","func":"msg.srclang= msg.lang.language;\n\n//msg.voice=\"it-IT_FrancescaVoice\";\n\nvar trlang= msg.tlang;\nswitch (trlang) {\n  case \"en\":\n    msg.voice=\"en-US_AllisonVoice\";\n    break;\n  case \"ar\":\n     msg.voice=\"ar-AR_OmarVoice\";\n    break;\n  case \"fr\":\n     msg.voice=\"fr-FR_ReneeVoice\";\n    break;\n  case \"de\":\n     msg.voice=\"de-DE_BirgitVoice\";\n    break;\n  case \"it\":\n     msg.voice=\"it-IT_FrancescaVoice\";\n    break;\n  case \"ja\":\n    msg.voice=\"ja-JP_EmiVoice\";\n    break;\n  case \"es\":\n    msg.voice=\"es-ES_EnriqueVoice\";\n    break;\n  default:\n   msg.voice=\"en-US_AllisonVoice\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":303.6666259765625,"y":562.9999694824219,"wires":[["da37bd08.86c0a","f5c2cbc1.225408","d2269d78.bc393"]],"l":false},{"id":"74acb342.e6b22c","type":"debug","z":"c743e174.d50d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":707.3333129882812,"y":360.3333435058594,"wires":[]},{"id":"161ac6b.dc85639","type":"ui_text","z":"c743e174.d50d78","group":"86c8ce21.06cfe","order":4,"width":12,"height":1,"name":"","label":"Input Language: ","format":"{{msg.payload}}","layout":"row-left","x":737.3333129882812,"y":507.33331298828125,"wires":[]},{"id":"d2269d78.bc393","type":"function","z":"c743e174.d50d78","name":"","func":"msg.payload=msg.srclang;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":563.3333129882812,"y":511.33331298828125,"wires":[["161ac6b.dc85639"]],"l":false},{"id":"5f43fae6.c15d14","type":"function","z":"c743e174.d50d78","name":"setVoice","func":"var trlang= msg.tlang;\nswitch (trlang) {\n  case \"en\":\n    msg.voice=\"en-US_AllisonVoice\";\n    break;\n  case \"ar\":\n     msg.voice=\"ar-AR_OmarVoice\";\n    break;\n  case \"fr\":\n     msg.voice=\"fr-FR_ReneeVoice\";\n    break;\n  case \"de\":\n     msg.voice=\"de-DE_BirgitVoice\";\n    break;\n  case \"it\":\n     msg.voice=\"it-IT_FrancescaVoice\";\n    break;\n  case \"ja\":\n    msg.voice=\"ja-JP_EmiVoice\";\n    break;\n  case \"es\":\n    msg.voice=\"es-ES_EnriqueVoice\";\n    break;\n  default:\n   msg.voice=\"en-US_AllisonVoice\";\n}\nmsg.voice=\"it-IT_FrancescaVoice\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":460,"wires":[["5945f705.40e3c"]]},{"id":"5945f705.40e3c","type":"debug","z":"c743e174.d50d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"ceca04d.f9e5b78","type":"function","z":"c743e174.d50d78","name":"setVoice","func":"msg.voice=\"it-IT_FrancescaVoice\";\n//msg.language=\"en\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":243.3333282470703,"y":258.3333435058594,"wires":[["da37bd08.86c0a"]]},{"id":"86c8ce21.06cfe","type":"ui_group","z":"","name":"Language Translator","tab":"8f597598.9c59d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"8f597598.9c59d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
